<!DOCTYPE html>
{% extends "hcat/base_site.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Covid 19</title>

</head>
<body>{% block body %}
    <div class="container project_test mt-5">
        {% if covid_projects %}
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Short Name</th>
                    <th>Project Source</th>
                    <th>Status</th>
                    <th>Labs</th>
                </tr>
            </thead>
            <tbody>
                {% for proj in covid_projects %}
                <tr>
                    <td>{{ proj.short_name }}</td>
                    <td>{{ proj.project_source }}</td>
                    <td>{{ proj.status }}</td>
		    {% if proj.labs.all|length > 2 %}
                    <td data-html="true" data-toggle="popover" data-content="{{ proj.labs.all|join:",<br />" }}">{{ proj.labs.all|slice:":2"|join:"<br>" }}</td>
		    {% else %}
		    <td>{{ proj.labs.all|slice:":2"|join:"<br>" }}</td>
		    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>No projects found...</p>
        {% endif %}
    </div>
{% endblock body %}
</body>
</html>
