<!DOCTYPE html>
{% extends "hcat/base_site.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ProjectAll</title>
</head>
<body>{% block body %}
    <div class="container project_test mt-5">
        {% if projects %}
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Short Name</th>
                    <th>Stars</th>
                    <th>Status</th>
                    <th>Primary Wrangler</th>
                </tr>
            </thead>
            <tbody>
                {% for proj in projects %}
                <tr>
                    <td>
                        <a href="{% url 'hcat:project_detail' proj.short_name|urlencode:'' %}"
                           data-toggle="popover" data-title="{{ proj.title }}" data-selector="true"
                                data-content="{{ proj.description|truncatechars:300 }}">
                            {{ proj.short_name|truncatechars:50 }}</a>
                    </td>
                    <td>{{ proj.stars }}</td>
                    <td>{{ proj.status }}</td>
                    <td>{{ proj.primary_wrangler }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>No projects found...</p>
        {% endif %}

        {% if projects.has_other_pages %}
        <nav>
          <ul class="pagination justify-content-end">
            {% if projects.has_previous %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ projects.previous_page_number }}">Previous</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                  <a class="page-link">Previous</a>
              </li>
            {% endif %}
            {% for i in projects.paginator.page_range %}
              {% if projects.number == i %}
                <li class="page-item active">
                    <a class="page-link"><span>{{ i }} <span class="sr-only">(current)</span></span></a>
                </li>
              {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
              {% endif %}
            {% endfor %}
            {% if projects.has_next %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ projects.next_page_number }}">Next</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                  <a class="page-link">Next</a>
              </li>
            {% endif %}
          </ul>
        </nav>
        {% endif %}
    </div>
{% endblock body %}
</body>
</html>
