<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ProjectAll</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
        <a class="navbar-brand" href="#">Tuatara 0.9</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Dashboard</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Projects</a>
                </li>
            </ul>
        </div>
    </nav>


    <p>Below are a list of current projects:</p>
    <div class="container project_test">
        <div class="input-group mb-3" style="width: 400px;">
            <input type="text" placeholder="Search..." class="form-control">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
            </div>
        </div>
        {% if projects %}
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th>Short Name</th>
                    <th>Stars</th>
                    <th>Status</th>
                    <th>Primary Wrangler</th>
                </tr>
            </thead>
            <tbody>
                {% for proj in projects %}
                <tr>
                    <td><input type="checkbox"></td>
                    <td>{{ proj.short_name }}</td>
                    <td>{{ proj.stars }}</td>
                    <td>{{ proj.status }}</td>
                    <td>{{ proj.primary_wrangler }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>No projects found...</p>
        {% endif %}

        <!-- Will need to build out javascript for finding pages and when to activate and disable navigation-->
        <nav aria-label="Project list navigation"> <!--This is a description-->
          <ul class="pagination justify-content-end"> <!--This sets navigation placement-->
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
    </div>

</body>
</html>